﻿@model IEnumerable<MvcBacklist.Models.Book>

@{
    ViewBag.Title = "Books";
}

<h2>Books</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>



    <table id="booksTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.BookId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReleaseDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Authors)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rating)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumberOfPages)
                </th>

                <th></th>
            </tr>
        </thead>

        @*@foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReleaseDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rating)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumberOfPages)
                    </td>

                    <td>
                        @Html.Raw(string.Join("| ", item.Authors.Select(s => string.Format("<span>{0}</span>", s.Name))))
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.BookId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.BookId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.BookId })
                    </td>
                </tr>
            }*@
    </table>



    <link href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" rel="stylesheet" />
    @section scripts
{
        <script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
        <script>
            $(document).ready(function () {
                $('#booksTable').DataTable({
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        "url": "/Books/LoadData",
                        "type": "GET",
                        "datatype": "json",
                    },
                    "columns": [
                        { "data": "BookId", "autoWidth": true },
                        { "data": "Title", "autoWidth": true },
                        { "data": "ReleaseDate", "autoWidth": true },
                        { "data": "Authors", "autoWidth": true },
                        { "data": "Rating", "autoWidth": true },
                        { "data": "NumberOfPages", "autoWidth": true }
                    ],
                    "order": [ 2, "desc" ]
                });
            });
        </script>
    }
