﻿@model BusinessLogic.ViewModel.EmployeeViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Ajax.BeginForm("Create", "Employees", null,
    new AjaxOptions
    {
        OnSuccess = "crudNamespace.onCreateFormHide()"
    }, null))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.FirstName, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.LastName, "", new {@class = "text-danger"})
            </div>
        </div>
       
        <div class="form-group">
            @Html.LabelFor(model => model.DeptId, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.DeptId, null, new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.DeptId, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" onclick=crudNamespace.onFormSubmit() class="btn btn-default" />
                <input type="button" value="Cancel" onclick=crudNamespace.onCreateFormHide()  class="btn btn-default">
            </div>
        </div>
        
        
        
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
            </div>
        </div>
        <hr />
    </div>
}