﻿@model BusinessLogic.ViewModel.EmployeeViewModel

@{
    ViewBag.Title = "Delete";
}
<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>

@using (Html.BeginForm(null, null, FormMethod.Post, htmlAttributes: new {@id = "DeleteEmployeeForm"}))
{
    @Html.AntiForgeryToken()

    <div class="dl-horizontal">
        <dl>
            <dt>
                @Html.HiddenFor(model => model.EmployeeId)
            </dt>

            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DeptName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DeptName)
            </dd>
        </dl>
    </div>
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-10">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" value="Delete" onclick=crudNamespace.deleteEmployee() class="btn btn-default">
                    <input type="button" value="Cancel" onclick=crudNamespace.onDeleteFormHide() class="btn btn-default">
                </div>
            </div>
        </div>
        <hr />
    </div>
}