﻿@model BusinessLogic.ViewModel.EmployeeViewModel

@Html.ValidationSummary(true)

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, htmlAttributes: new {@id = "EditEmployeeForm"}))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" id="">

        <div class="form-group">
            <div class="col-md-10">
                @Html.HiddenFor(model => model.EmployeeId)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.FirstName, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.LastName, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DeptId, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.DeptId, null, new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.DeptId, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Save" onclick=crudNamespace.editEmployee() class="btn btn-default">
                <input type="button" value="Cancel" onclick=crudNamespace.onEditFormHide() class="btn btn-default">
            </div>
        </div>
        <hr />
    </div>
}