﻿@model BusinessLogic.ViewModel.DepartmentViewModel

@Html.AntiForgeryToken()
@Html.ValidationSummary(true)


<div class="container">
    <form id="editDepartmentFrm">
        <div class="form-group">
            <input type="text" class="hidden_class" id="id" value=@Model.DepartmentId>
        </div>
        <div class="form-group">
            <label for="firstName">Department name:</label>
            <input type="text" class="form-control" id="firstName" value=@Model.Name>
        </div>
        <button type="submit" onclick="submit()" class="btn btn-default">Submit</button>
    </form>
</div>

<script>
            function submit() {
                    $.ajax({
                        url: '@Url.Action("Edit")',
                        method: "POST",
                        success: $("#EditDiv").hide(),
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert(thrownError);
                        }
                    });
                }
            </script>
 
