﻿<h2>Department list</h2>
<div id="DepartmentIndexDiv"></div>

<div style="width:90%; margin:0 auto;">
    <table id="departmentTable">
        <thead>
            <tr>
                <th>DepartmentId</th>
                <th>Name</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
    </table>
</div>
<style>
    tr.even {
        background-color: #F5F5F5 !important;
    }
</style>
@* Load datatable css *@
<link rel="stylesheet" href="/Content/Style.css">
<link rel="stylesheet" href="/Content/bootstrap.min.css">
<link href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css" rel="stylesheet" />
@* Load datatable js *@
@section Scripts{
    <script src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/customscript.js"></script>
    <script>
        editDepartment()
    </script>
}


<div id="editForm" class="edit_class">
    <form id="editFrm">
        <div class="form-group">
            <input type="text" class="hidden_class" id="id">
        </div>
        <div class="form-group">
            <label for="name">Department Name:</label>
            <input type="text" class="form-control" id="name">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>