﻿@using System.Web.Mvc.Ajax
@model MVCDatatable.Models.Book


@using (Ajax.BeginForm("Submit", new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "form",
    
}))

{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Book</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ReleaseDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ReleaseDate)
            @Html.ValidationMessageFor(model => model.ReleaseDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Rating)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Rating)
            @Html.ValidationMessageFor(model => model.Rating)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NumberOfPages)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NumberOfPages)
            @Html.ValidationMessageFor(model => model.NumberOfPages)
        </div>

        <p>
            <input type="submit" value="Submit" onclick="Commit">
        </p>
        
         <script>
          function Commit(id) {
            $.ajax({
                url: '@Url.Action("Submit")',
                method: "POST",
                success: $("#EditDiv").hide(),
                error: function(xhr, ajaxOptions, thrownError) {
                    alert(thrownError);
                }
            });
        }
        </script>


    </fieldset>
}