﻿@{
    ViewBag.Title = "Index";
}

<h2>Backlist</h2>
<div id="EditDiv"></div>
<div style="width:90%; margin:0 auto;">
    <table id="myTable">
        <thead>
            <tr>
                <th>Title</th>
                <th>ReleaseDate</th>
                <th>Rating</th>
                <th>NumberOfPages</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
    </table>
</div>
<style>
    tr.even {
        background-color: #F5F5F5 !important;
    }
</style>
@* Load datatable css *@
<link href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css" rel="stylesheet" />
@* Load datatable js *@
@section Scripts{
    <script src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
    <script>
        var editor;
        $(document).ready(function() {
            $('#myTable').DataTable({
                "ajax": {
                    "url": "/My/LoadData",
                    "type": "GET",
                    "datatype": "json",
                },
                "columns": [
                    { "data": "Title", "autoWidth": true },
                    { "data": "ReleaseDate", "autoWidth": true, },
                    { "data": "Rating", "autoWidth": true },
                    { "data": "NumberOfPages", "autoWidth": true },
                    {
                        "data": null,
                        "className": "center",
                        "render": function(data, type, full, meta) {
                            return '<a href="#" onclick="ShowDetails(' + full.Id + ')">Edit</a>';
                        }
                    },
                    {
                        "data": null,
                        "className": "center",
                        "render": function(data, type, full, meta) {
                            return '<a href="#" onclick="Delete(' + full.Id + ')">Delete</a>';
                        }
                    }
                ]
            });
        });

        function ShowDetails(id) {
            $.ajax({
                url: '@Url.Action("Edit")',
                method: "GET",
                data: { id: id },
                success: function(result) {
                    $('#EditDiv').html(result);
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    alert(thrownError);
                }
            });
        }

        function Delete(id) {
            $.ajax({
                url: '@Url.Action("Delete")',
                method: "POST",
                data: { id: id },
                success: $('#myTable').on( 'click', 'tbody tr', function () {
                    myTable.row( this ).delete( {
                        buttons: [
                            { label: 'Cancel', fn: function () { this.close(); } },
                            'Delete'
                        ]
                    } );
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(thrownError);
                }
            });
        }



    </script>
}